# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env
hand

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Coverage/Tests
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Misc
.DS_Store
Thumbs.db 